# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
.vite/

# TypeScript build
*.tsbuildinfo

# npm / yarn / pnpm lock files no ignorar (quieres versionarlos)
package-lock.json

*.css.map

# Source maps
*.js.map
*.jsx.map
*.ts.map
*.tsx.map

# Coverage
coverage/
.vitest/

# Env files
.env
.env.local
.env.*.local
